@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply font-montserrat;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

button {
  border: none;
  padding: 0;
  background: transparent;

  font-family: inherit;
}

button:not(:disabled) {
  cursor: pointer;
}

.hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
