@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-image: url('./shared/assets/images/background.svg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.app {
  min-width: 375px;
}
